.teammate {
  background: white;
  padding: 10px;
  color: #505050;
  img {
    max-width: 100%;
    border-radius: 50%;
  }
  h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 8px;
  }
  a {
    text-decoration: none;
    color: #505050;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

